.wrap2 {
	width: 960px;
	min-height: 500px;
	margin:30px auto;
}
.back{
	display: block;
	width: 30%;
	height: 50px;
	margin: 10px auto;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	background:#D51E23;
	border-radius: 6px;
}
.newstitle,
.storetitle{
	width: 100%;
	height: 50px;
}
.newstitle .line,
.storetitle .line{
	position:relative;
	display: block;
	width: 100%;
	height: 3px;
	background: #000;
}
.line-box{
    position: absolute;
	display: block;
	left: 30%;
	width: 40%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	border: 2px solid #000;
}
.newscont{
	width: 100%;
	min-height: 300px;
	position: relative;
}
.ulbg{
	position: absolute;
	width: 50%;
	height: 100%;
	right:0;
	background: url(newsbg.jpg);
	background-size: 100% 100%;
	z-index: 2;
	
}
.newscont li {
	position: relative;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #ddd;
}
.newscont li span,
.newscont li i,
.newscont li a{
	display: inline-block;

}
.newscont li span,
.newscont li i{
	color:#fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center
}
.newscont li span{
	background:#D51E23;
}
.newscont li i{
	position: absolute;
	left: 30px;
	top:5px;
	background:#232627;
}
.newscont li a{
   position: absolute;
   left: 70px;
}

#scrollimg{
	position: relative;
	width: 100%;
	height: 320px;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
}
#scrollul{
	position: absolute;
	left: 0;
	height: 320px;
	width: 100%;
}
#scrollul li{
	float: left;
	width: 240px;
	height: 320px;
}
#scrollul img{
	width: 100%;
	height: 100%;
}
.mask{
	position: absolute;
	display: block;
	width: 80%;
	left: 10%;
	height: 100%;
	background: #f00;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
.prev,
.next{
	display: inline-block;
	width: 30px;
	height: 24px;
	position: absolute;
	top:140px;
	cursor: pointer;
}
.prev{
	left:10px;
	background:url(icon3.png) -5px -263px;
}
.prev:hover{
	background:url(icon3.png) -5px -288px;
}
.next{
	right:10px;
	background:url(icon3.png) -34px -263px;
}
.next:hover{
	background:url(icon3.png) -34px -288px;
}
.storebox{
	width: 100%;
	min-height:100px;
	text-align: center;
}
.citycheck{
	position: relative;
	width: 10%;
	height: 30px;
	float: left;
	
}
.citycheck > input{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 30px;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 100;
	cursor: pointer;
}
.citycheck > a{
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 25px;
    top: 0;
    left: 10%;
    line-height: 25px;
    font-size: 16px;
	z-index: 10;
	
}
#meunul{
	width: 100%;
}
#meunul li{
	font-size: 16px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	
	border-bottom: 1px dashed #ddd;
}
#meunul li i{
	padding-right: 20px;
	color: #D51E23;
}
.foot {
	width: 100%;
	height: 120px;
	padding-top: 5px;
	margin-top: 50px;
	border: 4px solid #000;
	
}
.footwrap{
	position: relative;
	width: 99%;
	height: 115px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	border: 1px solid #000;
}
.foot i{
	position: absolute;
	bottom:20px;
	display: block;
	width: 100%;
	height: 20px;
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	color:#D51E23;
}